In [70]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [71]:
tracts = gpd.read_file("2010_Census_Tracts_for_King_County_-_Conflated_to_Parcels___tracts10_area.geojson")

In [72]:
tracts.columns

Index(['OBJECTID', 'GEO_ID_TRT', 'FEATURE_ID', 'TRACT_LBL', 'TRACT_STR',
       'TRACT_INT', 'TRACT_FLT', 'TRACT_DEL', 'TRTLABEL_FULL', 'TRTLABEL_COMP',
       'TRTLABEL_TRIM', 'COUNTY_STR', 'COUNTY_INT', 'STATE_STR', 'STATE_INT',
       'LEVEL_1', 'LEVEL_2', 'LEVEL_3', 'TRACT_AREA', 'TRACT_PERI', 'LOGRECNO',
       'Shape_Length', 'Shape_Area', 'geometry'],
      dtype='object')

In [73]:
tracts = tracts.drop(['OBJECTID', 'FEATURE_ID', 'TRACT_LBL', 'TRACT_STR',
       'TRACT_FLT', 'TRACT_DEL', 'TRTLABEL_FULL', 'TRTLABEL_COMP',
       'TRTLABEL_TRIM', 'COUNTY_STR', 'COUNTY_INT', 'STATE_STR', 'STATE_INT',
       'LEVEL_1', 'LEVEL_2', 'LEVEL_3', 'TRACT_AREA', 'TRACT_PERI', 'LOGRECNO'], axis =1)
tracts.head()

,GEO_ID_TRT,TRACT_INT,Shape_Length,Shape_Area,geometry
0,53033000100,100,23925.247095,3.440312e+07,"POLYGON ((-122.28580 47.73368, -122.28587 47.7..."
1,53033000200,200,24111.645835,3.537106e+07,"POLYGON ((-122.32359 47.73405, -122.32357 47.7..."
2,53033000300,300,17267.970371,1.302887e+07,"POLYGON ((-122.32555 47.73407, -122.32564 47.7..."
3,53033000401,401,15767.297460,1.467846e+07,"POLYGON ((-122.34501 47.72633, -122.34502 47.7..."
4,53033000402,402,21397.174887,1.936217e+07,"POLYGON ((-122.34737 47.72322, -122.34814 47.7..."

In [74]:
tracts = tracts.rename({'TRACT_INT':'tract'}, axis=1)

In [75]:
#tracts['Shape_Area'] = tracts['Shape_Area'].astype(np.float64)
#tracts['AWATER20'] = tracts['AWATER20'].astype(np.int64)
tracts['GEO_ID_TRT'] = tracts['GEO_ID_TRT'].astype(np.int64)
#tracts['ALAND20'] = tracts['ALAND20'].astype(np.int64)
tracts['tract'] = tracts['tract'].astype(np.int64)

In [76]:
cluster_tracts = pd.read_csv("Cluster Summaries 2021-12-07\Census Tract_summary_by_cluster.csv")

In [77]:
cluster_tracts = cluster_tracts.rename({'Unnamed: 0': 'tract'}, axis=1)
cluster_tracts.head()

,tract,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Cluster_6,Cluster_7
0,100,842.0,NaN,NaN,NaN,960.0,NaN,2468.0
1,200,571.0,NaN,NaN,NaN,391.0,NaN,1664.0
2,300,NaN,NaN,NaN,NaN,439.0,NaN,556.0
3,401,NaN,NaN,NaN,130.0,2231.0,NaN,634.0
4,402,139.0,139.0,NaN,NaN,922.0,NaN,1641.0

In [78]:
cluster_tracts = cluster_tracts.fillna(0)

In [79]:
cluster_tracts.tract.dtype

dtype('int64')

In [80]:
tracts = tracts.merge(cluster_tracts, how='inner', on='tract')

In [81]:
tracts

,GEO_ID_TRT,tract,Shape_Length,Shape_Area,geometry,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Cluster_6,Cluster_7
0,53033000100,100,23925.247095,3.440312e+07,"POLYGON ((-122.28580 47.73368, -122.28587 47.7...",842.0,0.0,0.0,0.0,960.0,0.0,2468.0
1,53033000200,200,24111.645835,3.537106e+07,"POLYGON ((-122.32359 47.73405, -122.32357 47.7...",571.0,0.0,0.0,0.0,391.0,0.0,1664.0
2,53033000300,300,17267.970371,1.302887e+07,"POLYGON ((-122.32555 47.73407, -122.32564 47.7...",0.0,0.0,0.0,0.0,439.0,0.0,556.0
3,53033000401,401,15767.297460,1.467846e+07,"POLYGON ((-122.34501 47.72633, -122.34502 47.7...",0.0,0.0,0.0,130.0,2231.0,0.0,634.0
4,53033000402,402,21397.174887,1.936217e+07,"POLYGON ((-122.34737 47.72322, -122.34814 47.7...",139.0,139.0,0.0,0.0,922.0,0.0,1641.0
...,...,...,...,...,...,...,...,...,...,...,...,...
130,53033012000,12000,17328.291474,1.558072e+07,"POLYGON ((-122.38960 47.51825, -122.39020 47.5...",119.0,0.0,0.0,0.0,169.0,0.0,415.0
131,53033012100,12100,32228.141337,3.026436e+07,"POLYGON ((-122.39514 47.52011, -122.39515 47.5...",71.0,0.0,0.0,0.0,64.0,0.0,228.0
132,53033026001,26001,34178.926462,2.956025e+07,"POLYGON ((-122.24538 47.50971, -122.24558 47.5...",0.0,0.0,0.0,0.0,0.0,14.0,0.0
133,53033026400,26400,46497.599205,5.456538e+07,"POLYGON ((-122.31468 47.52984, -122.31507 47.5...",0.0,0.0,0.0,0.0,0.0,3.0,0.0
134,53033026500,26500,27641.517337,2.146755e+07,"POLYGON ((-122.33609 47.52021, -122.33619 47.5...",0.0,0.0,0.0,0.0,0.0,165.0,0.0

clusters = ['Cluster_1', 'Cluster_2', 'Cluster_3', 'Cluster_4', 'Cluster_5', 'Cluster_6', 'Cluster_7']

for clust in clusters:
    tracts[clust]=tracts[clust].apply(lambda x: x/tracts[clust].sum())

In [82]:
from datetime import date
tracts.to_file(f'tracts_per_clust_{date.today()}.geojson', driver='GeoJSON')